 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-1 .u-image-1 {
  width: 841px;
  min-height: 345px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  margin: 473px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 451px;
  background-image: none;
  margin: -697px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 397px;
  height: 397px;
  margin: -425px auto 0 15px;
}

.u-section-1 .u-shape-2 {
  width: 613px;
  height: 488px;
  background-image: none;
  margin: -283px 107px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 526px;
  min-height: 527px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -595px 55px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Beth Ellen";
  margin: -425px 95px 0 599px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-family: "Architects Daughter";
  margin: 28px 95px 60px 599px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 494px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -226px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1527px;
}

.u-section-2 .u-group-elements-1 {
  width: 1067px;
  min-height: 1225px;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 785px;
  height: 541px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 1066px;
  height: 685px;
  margin: -1px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 570px;
  height: 228px;
  margin: -1225px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 570px;
  height: 228px;
  margin: -902px 37px 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 570px;
  height: 228px;
  margin: -445px 37px 951px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 219%;
  left: -59%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .embed-responsive-1 {
    width: 289%;
    left: -94%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 377%;
    left: -139%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .embed-responsive-1 {
    width: 503%;
    left: -201%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 798%;
    left: -349%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0;
}